<%- include('../partials/header.ejs') %>

    <div class="container-new">
        <h1>Tell me about this position</h1>
        <div class="back-link">
            <a href="/positions/">Go back to your list</a>
        </div>
    </div>
    <div class="container-form">
        <form id="create-form" action="/positions" method="POST">
            <div class="form-item">
                <label>Position</label>
                <input type="string" name="position" placeholder="required..." />
            </div>
            <div class="form-item">
                <label>When did you apply?</label>
                <input type="date" name="whenApplied" />
            </div>
            <div class="form-item">
                <label>Company</label>
                <input type="string" name="companyName" placeholder="required..." />
            </div>
            <div class="form-item">
                <label>Position Link</label>
                <input type="string" name="positionUrl" placeholder="optional..." />
            </div>
            <div class="form-item">
                <label>Position details</label>
                <textarea rows="10" cols="70" type="string" name="jobDetails" placeholder="optional..."></textarea>
            </div>
            <div class="form-item">
                <label>Required skills</label>
                <input type="string" name="skillsRequired" placeholder="optional..." />
            </div>
            <div class="form-item">
                <label>Optional skills</label>
                <input type="string" name="skillsOptional" placeholder="optional..." />
            </div>
            <div class="form-item">
                <label>Company Link</label>
                <input type="string" name="companyUrl" placeholder="optional..." />
            </div>
            <div class="form-item">
                <label>Industry</label>
                <input type="string" name="industry" placeholder="optional..." />
            </div>
            <div class="form-item">
                <label>Company details</label>
                <textarea rows="10" cols="70" type="string" name="companyDetails" placeholder="optional..."></textarea>
            </div>
            <div class="form-item">
                <label>Location</label>
                <select name="location">
                    <option disabled selected value>-- select one --</option>
                    <option value="Remote">Remote</option>
                    <option value="In-Person">In-Person</option>
                    <option value="Hybrid">Hybrid</option>
                </select>
            </div>
            <div class="form-item">
                <label>Where did you find it?</label>
                <select name="website">
                    <option disabled selected value>-- select one --</option>
                    <option value="linkedIn">linkedIn</option>
                    <option value="Indeed">Indeed</option>
                    <option value="ZipRecruiter">ZipRecruiter</option>
                    <option value="Company website">Company website</option>
                </select>
            </div>
            <div class="form-item">
                <input type="submit" value="Submit" id="large-btn" />
            </div>
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>